@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: #1c1b1b;
    font-size: 1.6rem;
}

div.placeholder {
    height: 150px;
    background-color: black;
}

div.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

.navbar img {
    margin: 20px 0 0 50px;
    position: fixed;
    width: 100px;
    height: auto;
}

nav > ul > li{
    border-right: 2px solid gray;
}

nav > ul > li.no_slash {
    border: none;
}

ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

/*
* first menu
 */

li > ul {
    text-align: left;
}

nav.wrapper{
    text-align: right;
    margin: 0 auto;
    width: 100%;
    background-color: black;
}

.sub_menu {
    display: none;
    position: absolute;
}

.wrapper li {
    position: relative;
}

header li a {
    display: block;
    padding: 20px 10px;
}

.sub_menu li {
    z-index: 10;
    width: 200px;
    background-color: #15418c;
}

.sub_menu li:hover {
    background-color: #2b3b57;
}

header li:hover {
    background-color: #15418c;
}

header li:hover .sub_menu{
    display: block;
}

input[type="search"] {
    height: 50px;
    width: 200px;
    background-color: #4b4b4b;
    border: none;
}

input[type="search"]::placeholder {
    color: lightgray;
}

button[type="submit"] {
    border: none;
    background-color: rgb(0, 0, 0, 0%);
    color: white;
    position: relative;
    right: 40px;
}

a > i {
    margin-right: 50px;
}
/*
* Second menu
 */

.second_nav {
    margin: auto;
    width: 70%;
    background-color: gray;
    color: white;
    height: 50px;
}

.second_nav li {
    position: relative;
    bottom: 10px;
    color: white;
    height: 40px;
    width: auto;
    border-right: 1px solid lightgray;
}

.second_nav li:hover {
    background-color: lightgray;
}

.second_nav li a {
    position: relative;
    bottom: 12px;
}

/*
* Images
 */

div.first_to_fourth {
    width: 95%;
    margin: 10px auto;
}

article.first {
    display: inline-block;
    width: 49%;
    height: auto;
}

article.first img {
    width: 100%;
    height: auto;
}

div.second_to_fourth {
    float: right;
    margin-left: 15px;
    display: inline-block;
    width: 49%;
    height: auto;
}

.second_to_fourth img {
    width: 100%;
}

.second {
    display: inline-block;
    width: 46%;
    height: auto;
}

article.third {
    display: inline-block;
    float: right;
    width: 49%;
    height: auto;
}

article.third img {
    width: 100%;
}

article.fourth {
    float: right;
    width: 100%;
    height: auto;
}

article.fourth img {
    width: 100%;
    height: auto;
}

p.caption {
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 5px;
    width: 670px;
}

p.caption:hover {
    background-color: white;
}

p.blue_caption {
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    bottom: 35px;
    color: #dedede;
    background-color: rgba(88, 136, 183, 0.7);
    padding: 5px;
}

p.blue_caption:hover {
    color: white;
    background-color: rgba(88, 136, 183);
}

.second .caption {
    bottom: 310px;
    width: 300px;
}

.second .blue_caption {
    bottom: 370px;
}

div.text {
    font-size: 1.3rem;
    color: white;
    background-color: #4065a6;
    line-height: 18px;
}

.text hr {
    color: white;
    width: 90%;
}
.text p {
    margin: 5px;
}

.text a:hover {
    text-decoration: underline;
}

.go_to_right {
    float: right;
}

.text span {
    margin: 0 10px;
}

/*
* Footer
 */

button[type="button"] {
    width: 90%;
    height: 50px;
    background-color: #15418c;
    color: white;
    border: none;
    margin: 5%;
    font-weight: bold;
}

footer a {
    float: right;
    text-decoration: none;
    color: #15418c;
    margin-left: 30px;
    margin-right: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer > div {
    width: 20%;
    height: auto;
    color: white;
    font-size: 1.2rem;
}

footer > div img {
    height: 70px;
    width: auto;
}

footer > div p {
    position: relative;
    left: 80px;
    bottom: 70px;
    display: inline-block;
}